a {
    margin-right: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    height: 20px;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
}

.navbar {
    background-color: #1c9593fc;
    height: 80px;

}

.navbar-brand {
    margin-right: 300px;
    margin-left: 20px;
    font-size: 30px;
    display: flex;
    align-items: center;
    font-family: 'Barlow Condensed', sans-serif;

}

.figure {
    display: flex;
    align-items: center;
    
}

img {
    width: 80px;
    height: 80px;
    
}

mat-icon{
    margin-left: 8px;
}

