a {
    margin-right: 10px;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    height: 20px;
    font-family: 'Montserrat', sans-serif;
<<<<<<< HEAD
    font-size: 20px;
    padding: 25px;
    
}

.navbar {
    background-color: rgba(8, 186, 174, 0.924);
=======
    font-size: 22px;
    padding: 20px;
}

.navbar {
    background-color: #1fb2b0fc;
>>>>>>> main
    height: 120px;
    width: 100%;
}

.navbar-brand {
    margin-right: 170px;
    margin-left: 20px;
    font-size: 30px;
    display: flex;
    align-items: center;
    font-family: 'Barlow Condensed', sans-serif;
}

.figure {
    display: flex;
    align-items: center;
}

img {
    width: 120px;
    height: 120px;
}

mat-icon {
    margin-left: 8px;
}