

<nav class="navbar navbar-expand-lg navbar-dark
">
    <div class="container-fluid" style="width: 100%;">
        <figure class="figure">
            <img src="./../../../../../assets/images/imageedit_1_7243953969.png" class="figure-img img-fluid rounded">
        </figure>
        <a class="navbar-brand" routerLink="inicio">Solovino</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a routerLink="inicio">
                        Inicio
                    </a>

                <a routerLink="adopciones">
                        Adopciones
                    </a>

                <a routerLink="exsolovinos">
                        Exsolovinos
                    </a>

                <a routerLink="sobre-nosotros">
                        Sobre nosotros
                    </a>

                <a routerLink="login" class="d-flex align-items-center">

                      Iniciar sesión
                      <mat-icon>login</mat-icon>
                </a>

            </div>
        </div>
    </div>
</nav>







<router-outlet></router-outlet>ter