a {
    margin-right: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    height: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    padding: 20px;
}

.navbar {
    background-color: #1fb2b0fc;
    height: 120px;
    width: 100%;
}

.navbar-brand {
    margin-right: 170px;
    margin-left: 20px;
    font-size: 30px;
    display: flex;
    align-items: center;
    font-family: 'Barlow Condensed', sans-serif;
}

.figure {
    display: flex;
    align-items: center;
}

img {
    width: 110px;
    height: 100px;
}

mat-icon {
    margin-left: 8px;
}