<div class="main d-flex flex-column">

    <div class="row-sm-12 row-md-12 row-lg-12 d-flex justify-content-center mt-4">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Misión
                        </mat-panel-title>
                        <mat-panel-description>
                            ¿Cuál es nuestra misión?
                        </mat-panel-description>
                        
                    </mat-expansion-panel-header>
                    <div class="data">
                        {{mision}}
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

    </div>

    <div class="row-sm-12 row-md-12 row-lg-12 d-flex justify-content-center mt-4">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Visión
                        </mat-panel-title>
                        <mat-panel-description>
                            ¿Cuál es nuestra visión?
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="data">
                        {{vision}}
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

    </div>

    <div class="row-sm-12 row-md-12 row-lg-12 mt-4 d-flex flex-column align-items-center">
        <div class="col-sm-12 col-md-6 col-lg-6" *ngFor="let persona of equipo; let i = index">
            <mat-card class="example-card">
                <mat-card-header class="d-flex justify-content-center">
                    <mat-card-title>{{persona.nombre}}</mat-card-title>     
                </mat-card-header>
                <mat-card-content>
                    <p>
                        {{persona.curriculum}}
                    </p>
                </mat-card-content>
            </mat-card>

        </div>
    </div>
</div>