
<div class="row-12 row-sm-12  row-md-12 row-lg-12 d-flex flex-column align-items-center">
    <div class="col-12 col-sm-12 col-md-7 col-lg-7 p-4 d-flex justify-content-center" *ngFor="let post of posts;let i = index">
        <div class="card mt-4" >
            <div class="img-container d-flex justify-content-center">
                <img class="card-img-top" [src]="'https://solovinoapi.herokuapp.com/' + post.image['imagePath']" alt="Card image cap">
            </div>
            <div class="card-body">
                <div class="row-12 d-flex mt-2">
                    <div class="col-3 "> <span>Nombre:</span> </div>
                    <div class="col-9 "> <span>{{post.name_pet}}</span> </div>
                </div>
                <div class="row-12 d-flex mt-2">
                    <div class="col-3 "> <span>Edad:</span> </div>
                    <div class="col-9 "> <span>{{post.age_pet}} años</span> </div>
                </div>
                <div class="row-12 d-flex mt-2">
                    <div class="col-3 "> <span>Descripción:</span> </div>
                    <div class="col-9"> <span>{{post.description_pet}}</span> </div>
                </div>
                <div class="row-12 d-flex mt-2">
                    <div class="col-3 d-flex justify-content-start  align-items-center"> <span>Esterilización:</span> </div>
                    <div class="col-9">
                        <span *ngIf="post.sterulization_pet; else isNotSteriliced">
                            Si
                        </span>
                        <ng-template #isNotSteriliced>
                            <span>No</span>
                        </ng-template>
                    </div>
                </div>
                <div class="row-12 d-flex mt-2">
                    <div class="col-3 d-flex justify-content-start  align-items-center"> <span>Sexo:</span> </div>
                    <div class="col-9"> <span>{{post.sex_pet}}</span> </div>
                </div>
                <div class="row-12 d-flex mt-2">
                    <div class="col-3 d-flex justify-content-start  align-items-center"> <span>Raza:</span> </div>
                    <div class="col-9"> <span>{{post.race_pet}}</span> </div>
                </div>



            </div>
        </div>
    </div>


</div>