<div class="main d-flex align-items-center flex-column p-2">
    <div class="card mt-4"  *ngFor="let adoption of adopciones; let i = index">

        
        <div class="img-container d-flex justify-content-center align-items-center">
            <img class="img-fluid" [src]="'https://solovinoapi.herokuapp.com/' + adoption.image['imagePath']">
        </div>
    
        <div class="card-body">
            
            <div class="row-12 d-flex mt-2">
                <div class="col-3 "> <span>Nombre:</span> </div>
                <div class="col-9 "> <span>{{adoption.name_pet}}</span> </div>
            </div>
            <div class="row-12 d-flex mt-2">
                <div class="col-3 "> <span>Edad:</span> </div>
                <div class="col-9 "> <span>{{adoption.age_pet}}</span> </div>
            </div>
            <div class="row-12 d-flex mt-2">
                
                <div class="col-3"> <span>Descripción:</span> </div>
                <div class="col-9">
             
                        <textarea readonly  rows="5" cols="45" style="font-family: 'Barlow Condensed', sans-serif;
                        font-family: 'Caveat', cursive;
                        font-family: 'Patrick Hand', cursive;
                        font-family: 'Tiro Kannada', serif;
                        font-family: 'Yanone Kaffeesatz', sans-serif;
                        color: gray;
                        font-size: 20px;">{{adoption.description_pet}}</textarea>
                       
                    
                </div>
            </div>
            <div class="row-12 d-flex mt-2">
                <div class="col-3 d-flex justify-content-start  align-items-center"> <span>Esterilización:</span> </div>
                <div class="col-9">
                    <span *ngIf="adoption.sterulization_pet; else isNotSteriliced">
                        Si
                    </span>
                    <ng-template #isNotSteriliced>
                        <span>No</span>
                    </ng-template>
                </div>
            </div>
            <div class="row-12 d-flex mt-2">
                <div class="col-3 d-flex justify-content-start  align-items-center" > <span>Sexo:</span> </div>
                <div class="col-9"> <span>{{adoption.sex_pet}}</span> </div>
            </div>
            <div class="row-12 d-flex mt-2">
                <div class="col-3 d-flex justify-content-start  align-items-center"> <span>Raza:</span> </div>
                <div class="col-9"> <span>{{adoption.race_pet}}</span> </div>
            </div>

    </div>
</div>  