.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

a{
    box-shadow: 3px 3px 5px  rgba(133, 208, 208, 0.511)
}
mat-nav-list{
    
}
mat-toolbar{
    
    color: gray;
    font-size: 25px;
    justify-content: center;
    font-family: 'Edu VIC WA NT Beginner';
    font-family: 'PT Serif', serif;
    font-family: 'Satisfy',cursive;
    padding: 10px;
    box-shadow: 7px 7px 15px  rgba(133, 208, 208, 0.511)
   
}