<!--<div class="row-sm-12 row-md-12 row-lg-12 d-flex justify-content-center mt-4">
    <div class="col-sm-12 col-md-8 col-lg-8 d-flex justify-content-center">
        <h2>Sobre Nosotros</h2>
    </div>
</div>

<div class="row-sm-12 row-md-12 row-lg-12 d-flex justify-content-center">
    <div class="col-sm-12 col-md-8 col-lg-8">
        <mat-card class="mat-elevation-z4">

            <mat-card-content>
                <form [formGroup]="aboutUsForm" (ngSubmit)="savePersonTeam(nombre,curriculum,mision,vision)">



                    <div class="form-group mb-4" formArrayName="equipo">
                        <div class="array-controls" *ngFor="let control of equipo.controls;let i = index" [formGroupName]="i">

                            <div class="form-group d-flex flex-column align-items-center">
                                <input type="file" class="form-control d-none" id="profile_picture" formControlName="image" (change)="onPhotoSelected($event)" #fileUpload>
                                <div class="preview-image p-4">
                                    <div class="img-container img-fluid">
                                        <img [src]="photoSelected || '/../../../assets/Images/profile.svg' " class="img-fluid mb-4" alt="">
                                    </div>
                                    <button type="button" class="btn btn-primary" mat-raised-button class="upload-btn" (click)="fileUpload.click()">
                                  <div  class="photoNoExist" *ngIf="!photoSelected">
                                    <mat-icon>attach_file</mat-icon>
                                    Cargar imágen
                                  </div>
                                <p *ngIf="photoSelected"> Nombre del archivo: {{fileName}} </p>
                                </button>
                                </div>
                            </div>
                            <label for="name">Nombre</label>
                            <input type="text" id="name" formControlName="nombre" #nombre>
                            <label for="curriculum">Curriculum</label>
                            <textarea id="curriculum" formControlName="curriculum" #curriculum></textarea>
                            <div class="button-section">
                                <button type="button" (click)="addPersonTeam()" mat-raised-button color="primary">
                                        <mat-icon>
                                            add
                                        </mat-icon>
                                        Agregar
                                </button>

                                <button type="button" (click)="deletePersonTeam(i)" mat-raised-button color="warn">
                                        <mat-icon>
                                          delete
                                        </mat-icon>
                                        Eliminar
                                      </button>
                            </div>
                        </div>
                    </div>





                    <mat-divider class="mb-4"></mat-divider>
                    <div class="form-group">
                        <label for="mision">Misión</label>
                        <textarea type="text" id="mision" formControlName="mision" [(ngModel)]="infoFromServer[0].mision"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="vision">Visión</label>
                        <textarea type="text" id="vision" formControlName="vision" [(ngModel)]="infoFromServer[0].vision"></textarea>
                    </div>
                    <button type="submit" mat-raised-button color="primary" id="save-button"><mat-icon>save</mat-icon> Guardar</button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>-->
